= render partial: "shared/header"

.person_index
  .person_index__search
    %h3 マイリスト 検索
    = search_form_for(@q, url: people_path) do |f| 
      = f.label :name, "ニックネーム・本名" 
      = f.search_field :name_cont 
      %br
      = f.label :gender, "性別"
      = f.select :gender_eq, Person.genders.keys, {prompt: '---'}
      = f.label :age, "年齢"
      = f.select :age_eq, Person.ages.keys, {prompt: '---'}
      = f.label :body, "体型"
      = f.select :body_eq, Person.bodys.keys, {prompt: '---'}
      %br/
      = f.label :height, "身長"
      = f.select :height_eq, Person.heights.keys, {prompt: '---'}
      = f.label :hair, "髪型"
      = f.select :hair_eq, Person.hairs.keys, {prompt: '---'}
      %br
      = f.label :chara, "特徴"
      = f.search_field :characters_chara_start, placeholder: "職業 話した内容など自由に・・・。"
      %br/
      %input{name: "button", type: "button", value: "リセット", id: 'button3', class:"search_button" }/
      = f.submit "検索" , class:"search_button"


  -# .contener
  -#   = render partial: "shared/person", collection: @person
  -#   = paginate(@person)

  
      